#backdrop{
  width: 450px;
  height: 450px;
  border: solid 10px darkslategray;
}
 #container{
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background: darkviolet;
}

.container{
  height: 400px;
  display: flex;
  background-color: #949494;
  /*Always on the main axis*/
  justify-content: end;
  /*Always on the cross axis*/
  align-items: flex-start;
}

button{
  height: 100px;
}

.result{
  height: 100px;
  width: 100px;
  background: black;
  color: white;
  margin: 5px;
  display: flex;
  /*makes the text in the box stay right and then bottom of box*/
  justify-content: right;
  align-items: flex-end;
}
